.git/
.gitignore
.dockerignore
README.md
docker-compose.yml
var/
vendor/
node_modules/
public/bundles/
.env
.env.local
.env.*.local
!.env.prod
!.env.prod.example
tests/
.phpunit.result.cache
phpunit.xml
behat.yml